.header{
	float: left;
	width: 100%;
	padding: 20px 0;
	background: #eee;
}

.frontend-header{
	float: left;
	width: 100%;
}

.frontend-header h2{
	color: #fff;
	padding: 30px 0;
	text-align: center;
	background: #000;
	margin: 0;
}

.linking-button{
	float: left;
	width: 100%;
	margin: 100px 0;
	text-align: center;
}

.linking-button a{
	padding: 10px 50px;
	background: #f00;
	font: 20px arial;
	color: #fff;
}